# vim: filetype=sh
alias update='pacman -Syu'
alias update-AUR='yay -Syu --devel'
alias search='yay -Ss'
alias clean='yay -Rsnu $(yay -Qqdt); yay -Sc'
alias install='yay -Sy'
alias remove='yay -Rsn'
alias ping='ping -c 5 '
alias vim='nvim'
alias code="code --extensions-dir '/home/gabriel/.config/Code - OSS/Extensions'"

alias i3config='$EDITOR $HOME/.config/i3/config'
alias polybarconfig='$EDITOR $HOME/.config/polybar/config'
alias aliases='$EDITOR $HOME/.aliases'
alias zshrc='$EDITOR $HOME/.zshrc'
alias profile='$EDITOR $HOME/.profile'
alias vimrc='$EDITOR $HOME/.vimrc'

alias config='/usr/bin/git --git-dir=$HOME/dotfiles --work-tree=$HOME'

