alias update='yay -Syu --devel'
alias search='yay -Ss'
alias clean='yay -Rsnu $(yay -Qqdt); yay -Sc'
alias install='yay -S'
alias remove='yay -Rsu'
alias ping='ping -c 5 '

alias i3config='$EDITOR $HOME/.config/i3/config'
alias polybarconfig='$EDITOR $HOME/config/polybar/config'
alias aliases='$EDITOR $HOME/.aliases'
alias zshrc='$EDITOR $HOME/.zshrc'
alias profile='$EDITOR $HOME/.profile'

alias config='/usr/bin/git --git-dir=$HOME/dotfiles --work-tree=$HOME'
