# vim:ft=bash

sxhkd &
feh --bg-scale $HOME/Wallpapers/wall.jpg
picom &
nm-applet &
udiskie -2 &
lxpolkit &
dunst &
fcitx -d &
mpd &
$HOME/Scripts/open_email_client.sh &
$HOME/Scripts/battery_notifications.sh &
