! special
*.foreground:   #b7b8b9
*.background:   #0c0d0e
*.cursorColor:  #b7b8b9

! black
*.color0:       #0c0d0e
*.color8:       #737475

! red
*.color1:       #e31a1c
*.color9:       #e31a1c

! green
*.color2:       #31a354
*.color10:      #31a354

! yellow
*.color3:       #dca060
*.color11:      #dca060

! blue
*.color4:       #3182bd
*.color12:      #3182bd

! magenta
*.color5:       #756bb1
*.color13:      #756bb1

! cyan
*.color6:       #80b1d3
*.color14:      #80b1d3

! white
*.color7:       #b7b8b9
*.color15:      #fcfdfe

!! URxvt Appearance
URxvt.font:             xft:Ubuntu Mono:style=Regular:pixelsize=17
URxvt.boldFont:		    xft:Ubuntu Mono:style=Bold:pixelsize=17
URxvt.italicFont: 	    xft:Ubuntu Mono:style=Italic:pixelsize=17
URxvt.boldItalicfont: 	-*-rissole-*

URxvt.letterSpace:      0
URxvt.lineSpace:        0

URxvt.cursorBlink:      true
URxvt.cursorUnderline:  false

URxvt.borderless:       1
URxvt.saveline:         2048
URxvt.scrollBar:        false
URxvt.scrollBar_right:  false
URxvt.urgentOnBell:     true
URxvt.transparent:      true
URxvt.shading:          40

